/* style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  --primary-color: #0073ff;
  --border-gray: #ccc;
  --light-blue-100: #6fb0ff;
  --secondary-color: #e2f0ff;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.noresize {
  resize: none;
}
.hidden {
  display: none;
}

/* component */
.btn-primary,
.btn-secondary {
  padding: 8px 12px;
  border-radius: 4px;
}
.btn-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  color: var(--primary-color);
  background: var(--secondary-color);
}
