main {
  min-height: 100vh;
}
.editor-container {
  display: flex;
  min-height: 66vh;
}

#edit {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background: #fff;
  padding: 48px 48px 32px;
  width: 50%;
  box-sizing: border-box;
  #editor-tit {
    font-weight: 700;
    width: 100%;
    font-size: 2.8rem;
    margin-bottom: 36px;
  }
  #editor-tit:focus {
    outline: none;
  }
  textarea {
    height: 100%;
    border: none;
    overflow: visible;
    margin-bottom: 24px;
  }
  textarea:focus {
    outline: none;
  }
  .wrap-bottom {
    margin-top: auto;
    display: flex;
    justify-content: right;
    gap: 24px;
  }
  .btn-secondary,
  .btn-primary {
    font-weight: 700;
    padding: 12px 32px;
  }
  #btn-close {
    margin-right: auto;
  }
}
.editor-tool {
  display: flex;
  list-style: none;
  margin-bottom: 16px;
  .tool {
    width: 4.4rem;
    height: 4.4rem;
    padding: 1rem;
    font-size: 2.2rem;
    line-height: 1;
  }
  .tool:hover {
    background: #eee;
  }
  #bold {
    font-weight: 700;
  }
  #italic img {
    margin-top: 0.1rem;
    width: 1.4rem;
  }
  #strike {
    text-decoration: line-through;
  }
  #link img,
  #code img,
  #quote img,
  #ul img,
  #ol img {
    height: 100%;
  }
}

.wrap-list {
  padding: 32px 48px;
  border-top: 1px solid var(--border-gray);
  .wrap-select {
    text-align: right;
    margin-bottom: 24px;
  }
  #sort-memo {
    font-size: 1.2rem;
    border: none;
  }
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  list-style: none;

  .box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background: #fff;
    border-radius: 4px;
    border: 1px solid var(--border-gray);
    box-shadow: 2px 2px 4px #ddd;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: inherit;
  }
  .memo-content {
    padding: 20px;
  }
  .wrap-btn {
    display: flex;
    font-size: 0;
    border-bottom: 1px solid var(--border-gray);
  }
  .open,
  .close,
  .edit,
  .delete {
    width: 32px;
    padding: 8px;
  }
  .open {
    display: none;
  }
  .edit {
    margin-left: auto;
  }
  .delete {
    background: var(--light-blue-100);
    border-radius: 0 4px 0 0;
  }
}
#preview,
.list {
  color: #222;
  line-height: 1.6;
  font-size: 1.6rem;
  h1,
  h2,
  h3,
  h4,
  pre {
    margin-top: 0;
  }
  ul {
    list-style-type: disc;
  }
  ul,
  ol {
    padding-left: 28px;
    line-height: 2;
  }
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    overflow: visible;
  }
  pre {
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;
    background: #f6f6f6;
    padding: 16px;
    border-radius: 2px;
  }
  pre code {
    background: none;
  }
  code {
    background: #ddd;
    padding: 4px;
    border-radius: 2px;
  }
  blockquote {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin: 12px 0;
    background: #e7f2ff;
  }
}

#preview {
  box-sizing: border-box;
  padding: 48px;
  background: #f9f9f9;
  width: 50%;
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
}

/* scrollbar */
.noresize::-webkit-scrollbar {
  width: 16px;
}
.noresize::-webkit-scrollbar-thumb {
  background: #ddd;
  background-clip: padding-box;
  border: 6px solid transparent;
  border-width: 0 0 0 14px;
}

// media
@media (min-width: 1400px) {
  .wrap-list {
    padding: 36px 48px;
  }
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 992px) {
  .editor-tool {
    flex-wrap: wrap;
  }
  #edit,
  #preview {
    padding: 32px;
  }
  .wrap-list {
    padding: 32px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  #edit {
    padding: 24px;
    width: 100%;
    min-height: 100vw;
  }
  #preview {
    display: none;
  }
  .wrap-list {
    padding: 32px 24px;
  }
  .list {
    grid-template-columns: 1fr;
  }
}
