/* style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  --primary-color: #127dff;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.noresize {
  resize: none;
}

/* component */
.box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  box-shadow: 2px 2px 4px #ccc;
}
.btn-primary{
  border-radius: 4px;
  padding: 6px;
  background: var(--primary-color);
  color: #fff;
}