#editor-left {
  .editor-tool {
    display: flex;
    list-style: none;
    gap: 8px;
  }
  textarea {
    border: none;
    min-height: calc(30vw);
    overflow: visible;
    margin-bottom: 24px;
    font-size: 1.6rem;
  }
  textarea:focus {
    outline: none;
  }
  .wrap-bottom {
    display: flex;
    justify-content: right;
    gap: 24px;
  }
  .btn-primary {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 12px 32px;
  }
  #btn-close {
    margin-right: auto;
  }
  #btn-reset {
    color: var(--primary-color);
    background: #e7f2ff;
  }
}

.memo-tit {
  color: var(--primary-color);
  margin-bottom: 32px;
}

.list {
  color: #222;
  line-height: 1.2;
  font-size: 1.6rem;
  ul {
    list-style-type: disc;
  }
  ul, ol {
    padding-left: 28px;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: inherit;
  }
  hr {
    border: 1px solid #ddd;
  }
  pre {
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;
  }
}
