#edit {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  #editor-tit {
    font-size: 2.8rem;
    margin-bottom: 24px;
  }
  #editor-tit:focus {
    outline: none;
  }
  textarea {
    height: 100%;
    border: none;
    overflow: visible;
    margin-bottom: 24px;
  }
  textarea:focus {
    outline: none;
  }
  .wrap-bottom {
    margin-top: auto;
    display: flex;
    justify-content: right;
    gap: 24px;
  }
  .btn-primary {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 12px 32px;
  }
  #btn-close {
    margin-right: auto;
  }
  #btn-reset {
    color: var(--primary-color);
    background: #e7f2ff;
  }
}
.editor-tool{
  display: flex;
  list-style: none;
  margin-bottom: 24px;
  .tool {
    padding: 20px;
    // background: #ddd;
    font-size: 2.2rem;
    line-height: 1;
  }
  #bold {
    font-weight: 700;
  }
  #italic img {
    width: 1.5rem;
  }
  #line-txt {
    text-decoration: line-through;
  }
}

.memo-tit {
  color: var(--primary-color);
}

.list {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: inherit;
  }
  .wrap-btn {
    margin: auto 0 0 auto;
    font-size: 0;
  }
  .edit {
    margin-right: 16px;
  }
  .edit, .delete {
    font-size: 1.6rem;
    margin-top: 24px;
    padding: 8px 12px;
  }
}
#preview,
.list {
  color: #222;
  line-height: 1.5;
  font-size: 1.6rem;
  ul {
    list-style-type: disc;
  }
  ul, ol {
    padding-left: 28px;
  }
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    overflow: visible;
  }
  pre {
    white-space: pre-wrap;
    word-break: break-all;
    overflow: auto;
    background: #f6f6f6;
    padding: 16px;
    border-radius: 2px;
  }
  pre code {
    background: none;
  }
  code {
    background: #ddd;
    padding: 4px;
    border-radius: 2px;
  }
  blockquote {
    width: calc(100%);
    box-sizing: border-box;
    padding: 12px;
    margin: 12px 0;
    background: #e7f2ff;
  }
}

#preview {
  box-sizing: border-box;
  padding: 48px;
  background: #edf5f8;
  width: 50%;
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.0rem;
  }
}
