main {
  min-height: 100vh;
  background: #f6f6f6;
}

.editor-container .inp-white{
  width: 100%;
}
.editor-container {
  /* 이거 색상 input으로..! */
  display: flex;
  min-height: 66vh;
}
#edit {
  background: #fff;
  padding: 48px 48px 32px;
  width: 50%;
  box-sizing: border-box;
}
.wrap-list {
  padding: 32px 48px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
}

@media (width >= 1400px) {
  .wrap-list {
    padding: 36px 48px;
  }
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width < 992px) {
  .editor-tool {
    flex-wrap: wrap;
  }
  #edit,
  #preview {
    padding: 32px;
  }
  .wrap-list {
    padding: 32px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 576px) {
  #edit {
    padding: 24px;
    width: 100%;
    min-height: 100vw;
  }
  #preview {
    display: none;
  }
  .wrap-list {
    padding: 32px 24px;
  }
  .list {
    grid-template-columns: 1fr;
  }
}