/* common */
.noresize {
  resize: none;
}

#editor-tx-container {
  /* 이거 색상 input으로..! */
  border: 1px solid skyblue;
  font-size: 0;
  line-height: 0;
}
#editor-tx-container textarea {
  width: 50%;
  box-sizing: border-box;
}
#preview {
  display: inline-block;
  line-height: normal;
  word-break: break-all;
  vertical-align: top;
  font-size: 16px;
  width: 50%;
}